{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Contact Page</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}"/>
{% endblock %}

{% block content %}
<div class="content background-wooden" style="height: 100%; display: flex; flex-direction: column;">
    <h2>Shoo shoo, this page is not ready and does nothing.</h2>

    <h3>0721344590</h3>

    Underground base location, gather the magical fish before entering.
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1424.9788299899053!2d26.095450708215132!3d44.413514544775644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff08808b969b%3A0x650765a95ea7af8f!2sSector%204!5e0!3m2!1sro!2sro!4v1622856915120!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
{% endblock %}

